/*CSS RESET*/
@charset "utf-8";
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
img, small, strong,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/*重置界面字体字号色号*/
body {
    font-family:'Microsoft YaHei',"Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size:16px;
    color:#000000;
    min-width:1200px;
}
dl li,ul li{
    list-style-type: none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    text-decoration: none;
    vertical-align:baseline;
    background:transparent;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
i,b{
    font-style: normal;
    font-weight: normal;
}
img{
    border:0;
    vertical-align: middle;
}
*{
    box-sizing: border-box;
}
/*清除浮动*/
.clearfix:after{
    content:'';
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}

/*重置input/select样式*/
input,select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-webkit-input-placeholder {
    color: #d2d2d2; }
:-moz-placeholder {
    color: #d2d2d2; }
::-moz-placeholder {
    color: #d2d2d2; }
:-ms-input-placeholder {
    color: #d2d2d2; }
input:focus::-webkit-input-placeholder{ color:#d2d2d2;}

reset